.container {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 15px;
    gap: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.links {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: .9rem;
}